doctype html
html
	head
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		title ClackerClicker
		
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheets")
		style
			include build/screen.css
		
	body#app
		#main
			#header
				h1 Clacker Clicker
			include media/key.svg
			p#userCounter
			#footer
				p &copy 2017 Malte Janßen
		#side
			h1 Shop
			#store
				#secretary
					p.name Sekretärin
					p.count 0
				#worker
					p.name Arbeiter
					p.count 0
		script
			include js/socket.io.js
		script
			include js/app.js