doctype html
html
	head
		title ClickerClacker
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		style
			include build/screen.css
		link
	body#app
		h1 Clacker Clicker
		p#userCounter
		include media/key.svg
		
		
		script(src="http://192.168.178.59:8080/socket.io/socket.io.js")
		script(src="https://unpkg.com/vue")
		script
			include js/app.js