doctype html
html
	head
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		title ClackerClicker
		
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheets")
		style
			include build/screen.css
		
	body
		#header
			h1 Clacker Clicker 2.0
		#app
			#main
				object(id="key"  data="key.svg" type="image/svg+xml") No SVG support
				#clicks {{ clicks }}
				#clacks {{ clacks }}
			#side
				h1 Shop
				#store
					#secretary
						p.price 50
						p.name Sekretärin
						p.count 0
					#worker
						p.price 100
						p.name Arbeiter
						p.count 0
		#footer
			p &copy 2017 Malte Janßen
		script
			include js/socket.io.js
		script(src="vue.js")
		script
			include js/app.js