doctype html
html
	head
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		title ClickerClacker
		
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		style
			include build/screen.css
		link
	body
		#header
			h1 Clacker Clicker
			p#userCounter
		#app
			include media/key.svg
		
		script
			include js/socket.io.js
		script
			include js/app.js